<!-- Eu sei que isso é uma gambiarra, mas que projeto não tem. -->
<style>
    .carousel-item {
        height: 50vh; /* Metade da altura da tela */
        min-height: 300px;
        display: flex;
        align-items: center;
    }

    .carousel-item img {
        max-height: 100%; 
        object-fit: cover;
        width: 100%;
    }

    .carousel-caption {
        bottom: 20px; /* Ajuste para centralizar as legendas */
    }

    .navbar {
        padding-left: 5rem;
        padding-right: 5rem;
        background-color: red;
    }

    .navbar .nav-link {
        color: white;
    }

    .navbar .nav-link:hover, .navbar .nav-link.active {
        text-decoration: underline;
    }
</style>